*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  width: 20vw;
  height: 5vh;
}

button{
  width: 20vw;
  height: 5vh;
  color: white;
  background-color: #026DFC;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
}